# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [15]:
import pandas as pd
import numpy as np

In [16]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [17]:
def q1():
    # Retorne aqui o resultado da questão 1.
    return black_friday.shape

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [18]:
def q2():
    # Retorne aqui o resultado da questão 2.
    mask_mulheres_26_35_anos = (
        (black_friday.Gender == 'F') & 
        (black_friday.Age == '26-35')
    )
    return black_friday.loc[mask_mulheres_26_35_anos].shape[0]

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [19]:
def q3():
    # Retorne aqui o resultado da questão 3.
    return black_friday.User_ID.nunique()

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [20]:
def q4():
    # Retorne aqui o resultado da questão 4.
    return black_friday.dtypes.nunique()

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [21]:
def q5():
    # Retorne aqui o resultado da questão 5.
    nulos = black_friday[black_friday.isna().sum(axis=1).apply(bool)]
    return nulos.shape[0]/black_friday.shape[0]

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [22]:
def q6():
    # Retorne aqui o resultado da questão 6.
    return int(black_friday.isna().sum().max())

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [23]:
def q7():
    # Retorne aqui o resultado da questão 7.
    return black_friday.Product_Category_3.mode()[0]

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [24]:
def normalize(series):
    return (series - series.min())/(series.max() - series.min())

In [25]:
def q8():
    # Retorne aqui o resultado da questão 8.
    normalize_purchase = normalize(black_friday.Purchase)
    return float(normalize_purchase.mean())

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [26]:
def std_patt(series):
    return (series - series.mean())/series.std()

In [27]:
def q9():
    # Retorne aqui o resultado da questão 9.
    pattern = std_patt(black_friday.Purchase)
    mask = pattern[(pattern >= -1.0) & 
                   (pattern <= 1.0)].index
    return black_friday.iloc[mask].shape[0]

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [28]:
def q10():
    # Retorne aqui o resultado da questão 10.
    null_2_not_null_3 = (black_friday.Product_Category_2.isna() & black_friday.Product_Category_3.notna())
    if null_2_not_null_3.sum():
        return False
    else:
        return True